.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 40px 20px;
    
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px;
    gap: 15px;  
}

@media only screen and (max-width: 600px) {
    .shop-container {
        width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      margin: 20px 0;
    }

    .product-container {
        display: block;
        grid-template-columns: 1fr;
        order: 1;  
        margin-top: 20px;
    }
  }